@model List<Category>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div>
                <h2>
                    Category List
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add New Category</a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Display Order</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.DisplayOrder</td>
                        <td>
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

